<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>dusk :: index</title>
        <link rel="stylesheet" type="text/css" href="/static/index.css" />
    </head>

    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/delete">Delete a Link</a>
                <a href="https://github.com/hvlck/dusk">Source</a>
            </nav>
        </header>
        <main>
            <h1>Dusk</h1>
            <p>A very straightfoward URL shortener.</p>
            <label for="link-id">Link ID <a href="#faq-id">?</a></label>
            <input type="text" placeholder="Link ID" id="link-id" />
            <label for="link-passcode">Stop Code <a href="#faq-stopcode">?</a></label>
            <input type="password" placeholder="Passcode" id="link-passcode" />
            <input type="button" value="Delete" id="link-delete" />
            <div id="results"></div>
        </main>
        <script src="/static/delete.js" defer></script>
    </body>

</html>