<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>dusk :: index</title>
        <link rel="stylesheet" type="text/css" href="/static/index.css" />
    </head>

    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/delete">Delete a Link</a>
                <a href="https://github.com/hvlck/dusk">Source</a>
            </nav>
        </header>
        <main>
            <h1>Dusk</h1>
            <p>A very straightfoward URL shortener.</p>
            <label for="link-id">Link ID <a href="#faq-id">?</a></label>
            <input min="3" max="2048" type="text" placeholder="Link ID" id="link-id" />
            <label for="link-passcode">Stop Code <a href="#faq-stopcode">?</a></label>
            <input type="password" placeholder="Passcode" id="link-passcode" minlength="3" />
            <label for="link-url">URL to Shorten</label>
            <input type="text" min="1" max="2048"
                pattern="[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)"
                placeholder="https://" id="link-url" />
            <input type="button" value="Create" id="link-create" />
            <hr>
            <div>
                <h2>About</h2>
                <details id="faq-id">
                    <summary>What is an ID?</summary>
                    <p>An ID is the text you use to identify your shortened link. For instance, if you have an ID
                        <code>meaning-of-life</code>, then the generated link will be
                        <code>whatever-site.tld/link/meaning-of-life</code>.
                    </p>
                </details>
                <details id="faq-stopcode">
                    <summary>What is a stop code?</summary>
                    <p>A stop code allows you to delete a link. Go to <a href="/delete">the delete page</a> to do so.
                    </p>
                </details>
                <details id="faq-dus">
                    <summary>What is this?</summary>
                    <p>Dusk is a URL shortener - it generates shorter links which can be used to link to longer URLs.
                    </p>
                </details>
            </div>
        </main>
        <script src="/static/index.js" defer></script>
    </body>

</html>